/*COMMON*/
$border-radius: 4px;
$main-font: 'Lato';
$default-font-size: 16px;
/*COLORS*/
$primary-dark: #252c37;
$primary-blue: #006dff;
$primary-green: #018937;
$primary-light: #f0f5fe;
$primary-white: #ffffff;
$secondary-light: #fafbfc;
$secondary-light-blue: #6a9aff;
$secondary-light-green: #4cba63;
$secondary-yellow: #fbc02d;
$secondary-orange: #f57c00;
$secondary-red: #d32f2f;
$tertiary-gray-1: #404c5f;
$tertiary-gray-2: #7e8b9d;
$tertiary-gray-3: #acb6c5;
$tertiary-gray-4: #d2d9e3;
